@import "tailwindcss";

/* Import Glitten Font */
/* Note: Download Glitten font from https://www.dafont.com/glitten.font */
/* Place the font file in /src/assets/fonts/ directory */
@font-face {
  font-family: 'Glitten';
  src: url('/src/assets/fonts/Glitten-Regular.otf') format('opentype'),
    url('/src/assets/fonts/Glitten-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-glitten: 'Glitten', cursive;
  --color-navbar-text: #030406;
  --color-navbar-logo: #F5F5F5;
  --color-navbar-button: #00A8E8;
}

body {
  margin: 0;
  min-height: 100vh;
}